@import "./base.css";

#app {
  max-width: 958px;
  margin: 0 auto;
  font-weight: normal;
}

.container {
  max-width: 958px;
  margin: 0 auto;
  padding: 0 2rem;
}


@media (min-width: 1024px) {

}
